
html{scroll-behavior: smooth;} /*Se agrega para que al hacer click en un enlace de navegación del navbar, la pagina se desplaze suavemente hacia abajo, y no simplemente "aparezcamos" en la sección


/*Estilos del body*/
body{
    margin:0; 
    padding:0;
    font-family: "Big Shoulders"; /*Fuente que se "importó" de google fonts*/
    box-sizing: border-box; /*Hacemos que el padding y el border se incluyan en el cálculo del ancho y alto del elemento.*/
}


/*Se establece la altura de cada sección al 100% del alto de la ventana gráfica (viewport height)*/
.full-height{
    height: 100vh;
}


/*El contenedor principal tendra una altura del 100% del espacio visible de la ventana */
.ContenedorPrincipal{
    height:100vh;
}

/*Estilos de los enlaces*/
a{
    text-decoration: none; /*Sin decoración*/
    color:#243c52; /*Por defecto apenas se abra la página los enlaces tendrán el color "alternativo" para asegurar que contrasten con la primera imagen del carursel*/
}

.Separador{ /*Clase para los divs de separación, la altura es muy pequeña, haciendo que sean una linea delgada*/
    background-color: rgb(199, 198, 198);
    height: 2px;    
}


/* ----------- ESTILOS DEL HEADER -----------------*/

header {
    position: absolute;  /* Colocamos el header en una posición absoluta, para que su ubicación sea independiente del flujo del resto del documento.*/
    z-index: 100;  /* Para que el header esté por encima de los otros elementos*/
    width: 100%;  /* ancho que ocupe toda la pantalla */
    display: flex;  /* Usamos Flexbox para organizar sus elementos internos */
    padding: 1% 0;  /*Se agrega un poco de padding vertical*/
    justify-content: space-between;  /* Para Distribuir los elementos dentro del header dejando espacio entre ellos */
}

header > img {
    width: 20%;  /*20% del ancho disponible */
    margin: 0 5rem;  /*Un poco de margen horizontal*/
}

header > nav {
    display: flex;  /*Flexbox para organizar los elementos del nav */
    justify-content: space-around;  /* Distribuimos los elementos dentro del nav con espacios iguales */
    align-items: center;  /*Para alinear los elementos al centro */
    margin: 0 3rem;  /*Margen lateral*/
}

header > nav > ul {
    list-style-type: none;  /*Para Eliminar las viñetas*/
    margin: 0;  /*Sin margen*/
    padding: 8px;  /*Un poco de padding*/
}

header > nav > ul > li {
    display: inline;  /*Para que los elementos de la lista se muestren en línea (uno al lado del otro)*/
    margin: 0 16px;  /*Margen lateral*/
}

header > nav > ul > li > a {   
    font-weight: bold;  /*Texto de los enlaces en negrita*/
    font-size: 30px;  
    padding: 22px 12px;  /*Se agrega padding vertical y lateral*/
}

#logoPagina {
    font-size: 35px;  
    font-family: 'Helvetica Neue';  
    margin-left: 50px;  /*margen a la izquierda de 50px */
    padding: 10px 12px;  /*Se agrega padding vertical y lateral*/
    letter-spacing: 10px;  /*Espacio entre las letras del texto */
    font-weight: bold;  /*texto en negrita */
}



/* El header tiene dos clases, header-blanco y header-alternativo, las cuales se usan dependiendo de la imagen que esté de fondo
en el carrusel, para asegurar que siempre se genere un buen contraste y el texto sea legible */

.header-blanco{
    color:white;
}

.header-alternativo{
    color: #243c52;
}

/* Clase para el efecto hover de los links de navegación del navbar*/
.efecto-hover {
    text-decoration: underline;
}

/*------------------- ESTILOS DEL CARRUSEL ---------------*/

/* Contenedor principal*/
.carrusel {
    width: 100vw;  /*100% del ancho de la ventana del navegador */
    height: 100vh; /*100% de la altura de la ventana del navegador */
    position: relative; /* Se usa para posicionar elementos hijos en relación con este contenedor */
    overflow: hidden; /* Oculta cualquier contenido que se salga del área visible */
}

/* Lista de imágenes dentro del carrusel */
.lista {
    position: absolute; /* Permite mover la lista libremente dentro del carrusel */
    top: 0;  /*Se alinea la lista en la parte*/ 
    left: 0; /*superior izquierda del carrusel*/
    height: 100%; /* Ocupa toda la altura del carrusel*/
    display: flex; /*Organiza las imágenes en una fila horizontal */
    width: max-content; /* Ajusta el ancho al contenido total de las imágenes*/
    transition: 1s; /*Agregamos una transición suave de 1 segundo*/
}

/* Imágenes dentro del carrusel */
.lista img {
    width: 100vw; /*100% del ancho de la ventana */
    height: 100vh; /*100% de la altura de la ventana */
    object-fit: cover; /*Se Ajusta la imagen para cubrir el área sin distorsionarse*/
}


/* Contenedor de los botones de navegación */
.botones {
    position: absolute; /* Para colocar los botones sobre las imágenes */
    top: 45%; /*Se alinean verticalmente */
    left: 2.5%; /*Se alinean horizontalmente*/
    width: 94%; /*ancho de los botones para cubrir el carrusel */
    display: flex; /*Se Organizan los botones en una fila */
    justify-content: space-between; /*Para ubicar un botón a la izquierda y otro a la derecha */
}


/* Estilos de los botones de navegación */
.botones button {
    cursor: pointer; /*Se cambia el cursor al pasar sobre el botón */
    border: none; /*Sin bordes*/
    width: 40px; /*ancho del botón */
    height: 50px; /*altura del botón */
    border-radius: 20%; /*Las esquinas de los botones son un poco redondeadas*/
    background-color: rgba(0, 0, 0, 0.3); /*Color de fondo semitransparente*/
    color: white; 
    font-weight: bold; /*texto negrita */
    font-size: 120%;
}

/* Efecto hover para los botones */
.botones button:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Oscurece el fondo cuando el cursor está sobre el botón */
}



/*-------- ESTILOS DE LA SINOPSIS ------------*/

/* Contenedor principal*/
.sinopsis {
    position: relative; /*Permite que elementos hijos se ubiquen dentro del contenedor */
    width: 100vw; /*100% del ancho de la ventana del navegador */
    height: 100vh; /*100% de la altura de la ventana del navegador */
    overflow: hidden; /*Oculta cualquier contenido que se sale del área visible */
}

/* Video de fondo*/
.videoBackground {
    position: absolute; /*el video se posiciona en relación con .sinopsis */
    top: 0; /*Se alinea el video*/
    left: 0; 
    width: 100%; /*100% del ancho del contenedor */
    height: 100%; /*100% de la altura del contenedor */
    object-fit: cover; /*Se ajusta el video para que cubra todo el espacio sin distorsionarse */
}

/* Imagen de la nave Endurance */
#Endurance {
    padding: 0; /*Sin relleno*/
    margin: 0; /*Sin margen */
    position: absolute; /* Permite posicionar la imagen dentro de la sección */
    top: 16%; /*Se ubica la imagen*/
    left: 63%; 
    width: 29%; /*ancho de la imagen*/
    transition: transform 0.3s ease-in-out; /*Aplicamos una animación suave al cambiar el tamaño*/
}

/* Efecto al pasar el mouse sobre la imagen del Endurance*/
#Endurance:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño de la imagen */
}

/* Título de la sinopsis */
#TituloSinopsis {
    font-weight: bold; /* Texto en negrita */
    letter-spacing: 5px; /* Espaciado entre letras */
    color: white; 
    position: absolute; /* Se posiciona dentro del contenedor sin afectar el flujo normal*/
    font-size: 50px; 
    top: 5%; /*Se posiciona el elemento*/
    left: 20.5%; 
    transition: transform 0.3s ease-in-out; /*Se aplica un efecto de escala suave */
}

/* Efecto al pasar el mouse sobre el título */
#TituloSinopsis:hover {
    transform: scale(1.04); /* Aumenta ligeramente el tamaño del título */
}

/* Descripción de la sinopsis */
#DescripcionSinopsis {
    font-weight: bold; /* Texto en negrita */
    width: 40%; /*40% del ancho del contenedor */
    text-align: left; 
    color: white; 
    position: absolute; /* Posiciona el texto de manera absoluta dentro del contenedor */
    font-size: 45px; 
    top: 25%; /* Se posiciona el elemento */
    left: 10%; 
    transition: transform 0.3s ease-in-out; /* Aplica una animación suave al cambiar el tamaño */
}

/* Efecto al pasar el mouse sobre la descripción */
#DescripcionSinopsis:hover {
    transform: scale(1.04); /*Aumenta ligeramente el tamaño del texto */
}




/*Estilos de la sección del Cast*/
/* Estilo para el contenedor principal del cast */
#Cast {
    background: radial-gradient(circle, #1a1a3a, #000000, #000000); /* Fondo con un degradado radial */
    position: relative; /* Posicionamiento relativo para elementos hijos */
    color: white; /* Color de texto blanco */
}

/* Se agrega un pseudo-elemento antes del contenedor principal */
#Cast::before {
    content: ''; /* Agrega un contenido vacío como capa extra */
    position: absolute; /* Posicionamiento absoluto respecto al contenedor padre */
    top: 0; /* Se ubica en la parte superior */
    left: 0; /* Se alinea con el lado izquierdo */
    width: 100%; /* Cubre todo el ancho del contenedor */
    height: 100%; /* Cubre toda la altura del contenedor */
    background: url('Imagenes/ImagenesActores/nebuulosa.jpeg'); /* Imagen de fondo con una nebulosa */
    background-size: cover; /* La imagen cubre todo el área manteniendo proporciones */
    opacity: 0.2; /* Transparencia sutil para que no opaque el contenido principal */
    z-index: 0; /* Coloca esta capa detrás de otros elementos */
}

/* Estilo para el título */
.Titulo {
    display: flex; /* Usa flexbox para centrar contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    padding: 0; /* Elimina espacio interno */
    padding-top: 30px; /* Añade espacio superior */
    font-size: 110px; /* Tamaño grande para el título */
    color: white; /* Texto blanco */
    margin: 0; /* Elimina márgenes por defecto */
}

/* Estilo para el grid de fotos */
.Grid-fotos {
    display: grid; /* Define un diseño de cuadrícula */
    grid-template-columns: repeat(3, 1fr); /* Tres columnas iguales */
    grid-gap: 10px; /* Espacio entre elementos de la cuadrícula */
    padding-top: 70px; /* Espacio superior del grid */
    justify-content: center; /* Centra el grid horizontalmente */
    position: relative; /* Para manejar el posicionamiento de elementos hijos */
    z-index: 1; /* Se asegura de estar encima del pseudo-elemento ::before */
}

/* Estilo para cada cuadro (contenedor de imagen y nombre) */
.Cuadro {
    position: relative; /* Necesario para posicionar elementos hijos relativos a este contenedor */
    display: flex; /* Usa flexbox para alinear contenido interno */
    flex-direction: column; /* Coloca elementos en columna (verticalmente) */
    align-items: center; /* Alinea al centro horizontalmente */
    padding-bottom: 70px; /* Espacio inferior adicional */
}

/* Estilo para las imágenes */
.Foto {
    width: calc(100% / 2.8); /* Define un ancho proporcional al contenedor */
    border-radius: 50%; /* Convierte la imagen en un círculo */
}

/* Estilo para los nombres */
.Nombre {
    position: absolute; /* Posiciona el nombre respecto al contenedor padre (.Cuadro) */
    left: calc(70% + 10px); /* Posiciona el nombre a la derecha de la imagen */
    top: 40%; /* Centra verticalmente el nombre en relación al contenedor */
    transform: translateY(-50%); /* Ajusta el nombre para que realmente esté centrado verticalmente */
    font-size: 50px; /* Tamaño de fuente grande para visibilidad */
    background: rgba(0, 0, 0, 0.8); /* Fondo negro semitransparente */
    color: white; /* Texto blanco */
    padding: 5px 10px; /* Espaciado interno del texto */
    border-radius: 5px; /* Bordes redondeados */
    opacity: 0; /* Inicialmente está oculto */
    white-space: wrap; /* Evita que el texto se divida en varias líneas */
    transition: opacity 0.3s ease-in-out; /* Transición suave para el cambio de opacidad */
    text-align: center; /* Centra el texto horizontalmente */
}



/*Estilos de la sección "Comunidad"*/
/* Estilo del contenedor principal "Comunidad" */
#Comunidad{
    height: 100vh; /* Altura completa de la ventana gráfica */
    background-image: url(Imagenes/ImagenesForm/ImagenForm.jpg); /* Imagen de fondo */
    margin: 0; /* Sin márgenes */
    padding: 0; /* Sin relleno */
}

/* Estilo del encabezado h1 dentro de "Comunidad" */
#Comunidad h1{
    display: flex; /* Uso de flexbox para centrar */
    justify-content: center; /* Centrado horizontal del texto */
    font-size: 110px; /* Tamaño grande de texto */
    padding-top: 30px; /* Espaciado en la parte superior */
    margin: 0; /* Sin márgenes */
}

/* Estilo del formulario "Formulario" */
.Formulario{
    display: flex; /* Flexbox para alinear elementos verticalmente */
    flex-direction: column; /* Disposición en columna */
    justify-content: center; /* Centrado vertical de contenido */
    align-items: center; /* Centrado horizontal de contenido */
    background-color: rgba(55, 108, 189, 0.25); /* Fondo translúcido */
    margin: 3rem 0 0 20rem; /* Márgenes personalizados */
    padding-bottom: 30px; /* Espaciado inferior */
    max-width: 35%; /* Ancho máximo del formulario */
    border-radius: 10px; /* Bordes redondeados */
}

/* Estilo del bloque de texto dentro del formulario */
.Texto{
    padding: 20px 0 30px 0; /* Espaciado interno personalizado */
    justify-content: center; /* Centrado del texto */
}

/* Estilo del encabezado h2 dentro del bloque de texto */
.Texto h2{
    font-size: 35px; /* Tamaño mediano de texto */
    text-align: center; /* Centrado del texto */
}

/* Estilo de los campos de entrada (inputs) del formulario */
.Formulario input{
    width: 400px; /* Ancho del campo de entrada */
    height: 40px; /* Altura del campo de entrada */
    margin: 1rem; /* Márgenes externos */
    padding: 1rem; /* Relleno interno */
    border-radius: 5px; /* Bordes redondeados */
    border: none; /* Sin borde */
    background-color: rgba(7, 29, 63, 0.7); /* Fondo translúcido */
    color: white; /* Texto blanco */
}

/* Estilo del botón de envío dentro del formulario */
.Formulario .botonEnviar {
    width: 200px; /* Ancho del botón */
    height: 40px; /* Altura del botón */
    border-radius: 5px; /* Bordes redondeados */
    border: none; /* Sin borde */
    font-size: 20px; /* Tamaño de texto */
    display: flex; /* Flexbox activado */
    align-items: center; /* Centrado vertical */
    justify-content: center; /* Centrado horizontal */
    text-align: center; /* Centrado del texto */
    margin: 0; /* Sin márgenes */
    margin-top: 30px; /* Espaciado superior */
    padding: 0; /* Sin relleno */
    background-color: rgba(7, 29, 63, 0.7); /* Fondo translúcido */
    color: white; /* Texto blanco */
    cursor: pointer; /* Indica que es un botón interactivo */
}

/* Estilo del botón de envío cuando el cursor pasa encima (hover) */
.botonEnviar:hover{
    background-color: rgba(7, 29, 63, 0.9); /* Fondo más oscuro al pasar el ratón */
}

/* Estilo de los marcadores de posición (placeholders) en los campos de entrada */
input::placeholder{
    color: white; /* Texto blanco */
    font-size: 28px; /* Tamaño del texto */
    text-align: center; /* Texto centrado */
}

/* Estilo para el formulario principal dentro del contenedor */
.Formulario form{
    display: flex; /* Flexbox activado */
    flex-direction: column; /* Disposición en columna */
    justify-content: center; /* Centrado vertical del contenido */
    align-items: center; /* Centrado horizontal del contenido */
    margin: 0; /* Sin márgenes */
    padding: 0.5rem; /* Espaciado interno personalizado */
}



/*Estilos del footer*/
/* Estilo general del pie de página */
#footer{
    background-color: rgb(5, 5, 5); /* Fondo oscuro para contraste */
    color: white; /* Texto blanco para mejor visibilidad */
    scroll-snap-align: start; /* Facilita el ajuste del footer en pantalla */
    display: flex; /* Uso de Flexbox para disposición horizontal */
    justify-content: space-between; /* Espaciado uniforme entre elementos */
    padding: 1rem 5%; /* Espaciado interno (arriba/abajo: 1rem, lados: 5%) */
    border: 30px solid #000000; /* Borde grueso negro */
}

/* Estilo del logotipo de Warner */
.logoWarner{
    width: 8%; /* Ancho del logotipo */
    margin-left: 8rem; /* Espaciado a la izquierda */
    margin-top: 3rem; /* Espaciado superior */
}

/* Estilo del nombre de Warner */
.nombreWarner{
    width: 15%; /* Ancho del texto del nombre */
    margin-left: 20px; /* Espaciado a la izquierda */
    margin-top: 3rem; /* Espaciado superior */
}

/* Contenedor que agrupa el logo y el nombre */
.logoYNombre{
    display: flex; /* Uso de Flexbox para alinear logotipo y nombre horizontalmente */
    align-items: center; /* Centrado vertical de los elementos */
    margin-bottom: 2rem; /* Espaciado inferior */
}

/* Estilo de la sección de información del estudio */
.InfoEstudio h2{
    margin: 0; /* Sin márgenes */
    margin-left: 15rem; /* Espaciado a la izquierda */
    font-size: 20px; /* Tamaño del texto */
}

/* Contenedor para las redes sociales */
.RedesEstudio{
   margin-left: 8rem; /* Espaciado a la izquierda */
}

/* Estilo para los enlaces de redes sociales */
.RedesEstudio a{
    color: white; /* Color blanco para los enlaces */
    text-decoration: none; /* Sin subrayado */
    font-size: 30px; /* Tamaño del texto */
    display: inline-block; /* Ocupan solo el espacio necesario */
    margin: 0 20px; /* Márgenes laterales */
    align-items: center; /* Alineación vertical */
}

/* Estilo general del mapa */
.Mapa{
    width: 100%; /* Ocupa todo el ancho del contenedor */
    margin-right: 5rem; /* Espaciado a la derecha */
    margin-top: 3rem; /* Espaciado superior */
}

/* Estilo para el iframe del mapa */
.Mapa iframe{
    width: 550px; /* Ancho del mapa */
    height: 250px; /* Altura del mapa */
    border: none; /* Sin borde */
    border-radius: 10px; /* Bordes redondeados para un diseño más atractivo */
}

/* Contenedor para información extra */
.infoExtra{
    display: flex; /* Uso de Flexbox para alineación */
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    margin: 0; /* Sin márgenes */
    padding: 0; /* Sin relleno */
}

/* Estilo de la sección de derechos de autor */
.copyright{
    display: block; /* Elemento en bloque */
    margin: 0; /* Sin márgenes */
    margin-left: 12rem; /* Espaciado a la izquierda */
    color: white; /* Texto blanco */
    font-size: 20px; /* Tamaño del texto */
}

/* Estilo para una línea subrayada (usada probablemente para enlaces) */
.linea{
    display: inline-block; /* Ocupa solo el espacio necesario */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    margin: 20px 10px 0 80px; /* Márgenes: (arriba, lados, abajo, izquierda) */
    color: white; /* Texto blanco */
    font-size: 20px; /* Tamaño del texto */
    text-decoration: underline; /* Subrayado para indicar interactividad */
}
